.THIS .BackColor{
    background-color: #f7f9fb;    
}
.THIS .Labels{
     color : #16325c;
     font-size: 15px;
    line-height: 5px;
}
.THIS .Campos{
     color : #9faab5;
     font-size: 12px;
    text-align:center;
}

.THIS .valigntop {
    vertical-align: top;
}
.THIS .texto_titulo {
    font-family: 'Open Sans', arial;
    font-size: 14px;
    color: #000000;     
}
.THIS .padding10px {
    padding: 10px;
}
.THIS .elemento {
    display: inline-block;
}
.THIS .texto-gris {
    color: #6a6a6a !important;
}
.THIS .center-middle {
    
}
.THIS .bold26px {
    font-weight: bold;
    font-size: 15px !important;
}